table {
  width: 100%;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}
 
th, td {
  border-bottom: 1px solid #444444;
  padding: 10px;
  text-align: center;
}

td {
	font-size: small;
}

th {
  background-color: #32bcef;
}

#input {
	border: solid;
	border-width: 2px;
	border-color: #47bba5;
	border-radius: 15px;
}

#search {
	background-color: #a7c7c1;
	border-radius: 10px;
}